.cfg-tags {
    padding-top: 5px;
    position: relative;
    z-index: 1;
}

.cfg-tags-all {
    padding: 5px 0 5px 0;
}

.cfg-tags-all span {
    display: inline-block;
    margin: 0 4px 5px 0;
    padding: 5px 10px;
    background: #eaeaea;
    border-radius: 3px;
    cursor: pointer;
    white-space: nowrap;
}

.cfg-tags-all span:hover {
    background: #589b0e;
    color: #fff;
}

.cfg-tags .selectize-control.multi .selectize-input > div {
    margin-right: 7px;
    padding: 5px 10px;
    background: #eaeaea;
    border-radius: 3px;
    line-height: 1;
}

.cfg-tags .selectize-control.multi .selectize-input > div:hover {
    background: #c33;
    color: #fff;
}

.bootstrap-tagsinput.tl_select {
  height: auto;
}
