services:
    codefog_tags.listener.tag_manager:
        class: Codefog\TagsBundle\EventListener\TagManagerListener
        arguments:
            - "@codefog_tags.manager_registry"

    codefog_tags.listener.data_container.tag:
        class: Codefog\TagsBundle\EventListener\DataContainer\TagListener
        arguments:
            - "@codefog_tags.manager_registry"
